<div class="config">
  <input type="text" [(ngModel)]="value"/>
  <br>
  <button (click)="addDate()">Add Date</button>
  <button (click)="toggleDisable()">Disable</button>
  <select name="" id="" [(ngModel)]="dateformat">
    <option value="dd/mm/yy">dd/mm/yy</option>
    <option value="dd-mm-yy">dd-mm-yy</option>
    <option value="yy/mm/dd">yy/mm/dd</option>
    <option value="yy-mm-dd">yy-mm-dd</option>
  </select>
  dateFormat: {{dateformat}} {{newdate}}
</div>


<app-mydate [inputDate]="newdate" [disabled]="disabled" [format]="dateformat" [dataType]="dataType"></app-mydate>

<br><br>
<p-calendar [(ngModel)]="dt" dateFormat="dd-mm-yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">></p-calendar>
{{dt}}
